/* ===== FONTS ===== */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/* Font Face */
@font-face{
   font-family: 'modernline_-_personal_useRg';
   src: url('../fonts/modernline-webfont.woff2') format('woff2'),
        url('../fonts/modernline-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
/* ===== end font ===== */

/* ===== VARIABLES CSS ===== */
:root{
   /* ===== Colors ===== */
   --body-color: #FDFAF6;
   --text-color: #141414;
   --green-color-1: #F4F1E9;
   --green-color-2: #B1D182;
   --green-color-3: #688F4E;
   --green-color-4: #2B463C;
   --border-color: hsl(228, 12%, 75%);

   /* ===== Font and typography ===== */
   --body-font: 'Cormorant Garamond', serif;
   --special-font: 'modernline_-_personal_useRg';
   --big-font-size: 2rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;
   --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 968px){
   :root{
      --big-font-size: 2.25rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
   }
}
/* ===== end variables css ===== */

/* ===== BASE ===== */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   font-family: var(--body-font);
   font-size: var(--h3-font-size);
   font-weight: 600;
   background-color: var(--body-color);
   color: var(--text-color);
   -webkit-transition: .3s;
   transition: .3s; /* For animation dark mode */
}
ul{
   list-style: none;
}
a{
   text-decoration: none;
}
img{
   max-width: 100%;
   height: auto;
}
main{
   overflow: hidden; /* For reveal animation */
}
/* ===== end base ===== */

/* ===== REUSABLE CSS CLASSES ===== */
.container{
   max-width: 968px;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
}
.section__line-bottom{
   padding-bottom: 3rem;
   border-bottom: 2px solid var(--green-color-2);
}
.section__top-space{
   margin-top: 3rem;
}
.section__title{
   display: flex;
   align-items: center;
   font-style: italic;
   font-weight: 700;
   margin-bottom: 0.75rem;
}
.section__title-line{
   width: 30px;
   height: 1px;
   background-color: var(--text-color);
   margin-right: 0.5rem;
}
/* ===== end reusable css classes ===== */

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar{
   width: .6rem;
   background: hsl(0, 0%, 74%);
}
::-webkit-scrollbar-thumb{
   background: hsl(0, 0%, 17%);
}
/* ===== end scroll bar ===== */

/* ===== DARK THEME ===== */
body.dark-theme{
   --body-color: #1E2F23;
   --text-color: #FFF;
}

.dark-theme .gallery__title{
   color: #FFF;
}
.dark-theme .gallery .swiper-button-next i,
.dark-theme .gallery .swiper-button-prev i{
   color: #FFF;
}

.dark-theme .vision__title{
   -webkit-text-stroke: 2px #FFF;
}

/* ===== end dark theme ===== */

/* ===== HEADER ===== */
.header__section-banner{
   position: relative;
   width: 100%;
   height: 150px;
   overflow: hidden;
}
.header__banner-img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}
.header__content{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: -2.5rem;
}
.profile__img{
   width: 85px;
   height: 85px;
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
}
.change-theme{
   display: inline-flex;
   padding: .65rem;
   background-color: var(--green-color-3);
   color: #FFF;
   border-radius: 50%;
   font-size: 1.25rem;
   cursor: pointer;
   font-weight: initial;
}
/* ===== end header ===== */

/* ===== BIO ===== */
.bio{
   position: relative;
   margin-top: 2rem;
}
.bio__name{
   font-family: var(--special-font);
   font-size: var(--h2-font-size);
   font-weight: bold;
   margin-bottom: 1.25rem;
}
.bio__subtitle{
   display: grid;
   grid-row-gap: .25rem;
}
.bio__img-banner{
   position: absolute;
   bottom: -2.25rem;
   right: -1rem;
   transform: rotate(-45deg);
   width: 85px;
}
/* ===== end bio ===== */

/* ===== CONTENTS ===== */
.content{
   position: relative;
}
.content__container{
   display: grid;
   grid-row-gap: 2.5rem;
}
.content__border{
   position: relative;
   width: 100%;
   max-width: max-content;
   margin: 0 auto .25rem;
}
.content__profile{
   width: 100%;
   max-width: 275px;
   height: 225px;
   object-fit: cover;
   object-position: bottom;
   margin-left: 1.25rem;
   border-radius: 1rem .25rem 1rem .25rem;
}
.content__squares{
   position: absolute;
   top: 1.25rem;
   left: 0;
}
.content__square{
   position: relative;
   width: 40px;
   height: 40px;
}
.content__square::after{
   content: '';
   position: absolute;
   top: -.25rem;
   right: -.25rem;
   width: 100%;
   height: 100%;
   border: 1px solid #141414;   
}
.content__squares .content__square:not(:last-child){
   margin-bottom: 0.75rem;
}
.content__square:nth-child(1){
   background-color: var(--green-color-1);
}
.content__square:nth-child(2){
   background-color: var(--green-color-2);
}
.content__square:nth-child(3){
   background-color: var(--green-color-3);
}
.content__hobbies{
   text-align: center;
   font-size: var(--small-font-size);
   font-weight: 700;
   margin-bottom: 1.5rem;
   text-align: center;
}
.social__media{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   justify-content: center;
}
.social__button-link:not(:last-child){
   margin-right: 1rem;
}
.social__button-link{
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   background-color: hsl(207, 8%, 92%);
   color: #141414;
   font-weight: initial;
   padding: 0.75rem;
   border-radius: 50%;
   -webkit-transition: .3s;
   transition: .3s;
}
.social__button-link i{
   font-size: 1.35rem;
}
.social__button-link:hover{
   background-color: hsl(207, 8%, 75%);
}
.content__item{
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   height: 75px;
   cursor: pointer;
   border-radius: 1.5rem;
}
.content__container .content__item:not(:first-child){
   margin-top: -1rem;
   height: 80px;
}
.content__item span{
   font-style: italic;
}
.content__item:not(:first-child) span{
   display: block;
   color: #FFF;
   margin-bottom: -.75rem;
}
.content__item-1{
   background-color: var(--green-color-1);
   color: #141414;
   z-index: 20;
}
.content__item-2{
   background-color: var(--green-color-2);
   z-index: 15;
}
.content__item-3{
   background-color: var(--green-color-3);
   z-index: 10;
}
.content__item-4{
   background-color: var(--green-color-4);
   z-index: 5;
}
.content__img-banner{
   position: absolute;
   bottom: -2.5rem;
   left: -2rem;
   transform: rotate(10deg);
   width: 85px;
}
/* ===== end contents ===== */

/* ===== GALLERY ===== */
.gallery{
   position: relative;
}
.gallery.section__top-space{
   margin-top: 1.5rem;
}
.gallery__container{
   position: relative;
   padding-top: 3rem;
}
.gallery__title{
   display: block;
   color: #141414;
   position: absolute;
   top: .75rem;
}
.gallery__box{
   position: relative;
   width: 120px;
   height: 175px;
   border-radius: .75rem;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, .15);
   overflow: hidden;
}

/* Swiper class */
.gallery .swiper-button-prev::after,
.gallery .swiper-button-next::after{
   content: '';
}
.gallery .swiper-button-prev,
.gallery .swiper-button-next{
   width: initial;
   height: initial;
   border: 2px solid var(--border-color);
   border-radius: .5rem;
   color: #141414;
   font-size: 1.5rem;
   margin-top: -6.5rem;
}
.gallery .swiper-button-prev{
   left: calc(100% - 4.75rem);
}
.gallery__img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
      object-fit: cover;
   -o-object-position: center;
      object-position: center;
   -webkit-transition: -webkit-transform .3s;
   transition: -webkit-transform .3s;
   transition: transform .3s;
   transition: transform .3s, -webkit-transform .3s;
}
.gallery__box:hover .gallery__img{
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
}

/* Swiper class */
.gallery .swiper-slide{
   width: -webkit-max-content;
   width: -moz-max-content;
   width: max-content;
}
.gallery__img-banner{
   position: absolute;
   bottom: -2.5rem;
   right: -.75rem;
   width: 75px;
   transform: rotate(25deg);
}
/* ===== end gallery ===== */

/* ===== PLAYLIST ===== */
.playlist{
   position: relative;
}
.playlist__container{
   display: grid;
   grid-row-gap: 2.5rem;
}
.date__section{
   margin-bottom: 1rem;
}
.time__section-box{
   display: grid;
   grid-template-columns: repeat(3, 70px);
   grid-column-gap: .75rem;
   margin-bottom: 1rem;
}
.time__number{
   position: relative;
   padding: 1rem .5rem 1.2rem;
   text-align: center;
   font-size: 2.5rem;
   font-weight: 700;
   color: #141414;
   margin-bottom: 0.5rem;
}
.time__number::after{
   content: '';
   position: absolute;
   top: -.25rem;
   right: -.25rem;
   width: 100%;
   height: 100%;
   border: 1px solid #141414;
}
.hour__number{
   background-color: var(--green-color-1);
}
.minute__number{
   background-color: var(--green-color-2);
}
.second__number{
   background-color: var(--green-color-3);
}
.time__title{
   display: block;
   font-size: var(--small-font-size);
   text-align: center;
}
.playlist__music i{
   cursor: pointer;
}
.playlist__music-title{
   display: block;
   margin-bottom: 0.75rem;
}
.playlist__music-content{
   border: 1px solid var(--border-color);
   background-color: #FFF;
   color: #141414;
   border-radius: .75rem;
   padding: .75rem;
   overflow: hidden;
   text-align: center;
}
.playlist__img{
   width: 100%;
   max-width: 120px;
   height: 120px;
   border-radius: 50%;
   object-fit: cover;
   object-position: center;
   place-items: center;
   box-shadow: 0px 6px 12px rgba(0, 0, 0, .15);
   margin: 1rem .5rem 1.5rem;
}
.song__info{
   margin-bottom: 1rem;
}
.song__title{
   font-weight: 700;
}
.song__artist{
   display: block;
   font-size: var(--small-font-size);
   color: rgba(0, 0, 0, .9);
}
.playlist__progress-area{
   height: 6px;
   width: 100%;
   border-radius: 50px;
   background: #F0F0F0;
   cursor: pointer;
}
.playlist__progress-bar{
   height: inherit;
   width: 0%;
   position: relative;
   border-radius: inherit;
   background: -webkit-linear-gradient(left, var(--green-color-2) 0%, var(--green-color-3) 100%);
   background: linear-gradient(90deg, var(--green-color-2) 0%, var(--green-color-3) 100%);
}
.playlist__progress-bar::before{
   content: '';
   position: absolute;
   height: 12px;
   width: 12px;
   border-radius: 50%;
   top: 50%;
   right: -5px;
   z-index: 2;
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   pointer-events: none;
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
   background-color: var(--green-color-4);
   -webkit-transition: opacity 0.2s ease;
   transition: opacity 0.2s ease;
}
.playlist__progress-area:hover .playlist__progress-bar::before{
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   pointer-events: auto;
}
.playlist__timer{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   font-size: var(--small-font-size);
   color: rgba(0, 0, 0, .9);
}
.playlist__controls{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin: 2.5rem 0 .75rem;
}
.playlist__controls i{
   font-size: 28px;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
   background: -webkit-linear-gradient(var(--green-color-3) 0%, var(--green-color-4) 100%);
   background: linear-gradient(var(--green-color-3) 0%, var(--green-color-4) 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.playlist__controls i:nth-child(2),
.playlist__controls i:nth-child(4){
   font-size: 43px;
}
.prev-song{
  margin-right: -13px;
}
.next-song{
  margin-left: -13px;
}
.song__play-pause{
   position: relative;
   height: 54px;
   width: 54px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   cursor: pointer;
   border-radius: 50%;
   background: -webkit-linear-gradient(#FFF 0%, #CECACA 100%);
   background: linear-gradient(#FFF 0%, #CECACA 100%);
   box-shadow: 0px 0px 5px var(--green-color-1);
}
.song__play-pause::before{
   content: '';
   position: absolute;
   height: 43px;
   width: 43px;
   border-radius: 50%;
   background: -webkit-linear-gradient(var(--green-color-3) 0%, var(--green-color-4) 100%);
   background: linear-gradient(var(--green-color-3) 0%, var(--green-color-4) 100%);
}
.song__play-pause i{
   height: 43px;
   width: 43px;
   line-height: 43px;
   text-align: center;
   background: inherit;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   position: absolute;
}
.playlist__img-banner{
   position: absolute;
   bottom: -2rem;
   left: -2rem;
   width: 85px;
   transform: rotate(25deg);
}
/* ===== end playlist ===== */

/* ===== MOVIES ===== */
.movies{
   position: relative;
}
.movies__container .movie__content:first-child{
   margin-bottom: 2.5rem;
}
.movie__section-img{
   margin-bottom: 0.5rem;
}
.movie__slides{
   background-color: #FFF;
   color: #141414;
   padding: 0.75rem .75rem .75rem;
   border-radius: .75rem;
}
.movie__data{
   border: 1px solid var(--border-color);
   text-align: center;
   padding: 1rem 0.5rem;
   border-radius: .5rem;
}
.movie__poster{
   width: 100%;
   max-width: 150px;
   height: 220px;
   border: 2px solid var(--green-color-1);
   object-fit: cover;
   object-position: center;
}
.movie__title{
   font-size: var(--h3-font-size);
   font-weight: 700;
}
.movie__year{
   color: rgba(0, 0, 0, .8);
   font-size: var(--normal-font-size);
}

/* Swiper Class*/
.movie__slides{
   margin-left: initial;
   margin-right: initial; 
}
.movie__slides .swiper-button-prev::after,
.movie__slides .swiper-button-next::after{
   content: '';
}
.movie__slides .swiper-button-next,
.movie__slides .swiper-button-prev{
   width: initial;
   height: initial;
   background-color: var(--green-color-2);
   box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
   padding: 0.25rem;
   font-size: 1.5rem;
   color: #000;
   border-radius: 50%;*/
}
.movies__img-banner{
   position: absolute;
   bottom: -2.5rem;
   right: -1.5rem;
   width: 85px;
}
/* ===== end movies ===== */

/* ===== BOOKS ===== */
.books{
   position: relative;
}
.books__slides{
   background-color: #FFF;
   color: #141414;
   padding: 0.75rem;
   border-radius: .75rem;
}
.books__data{
   text-align: center;
   padding: 0.75rem;
   border-radius: .75rem;
   border: 1px solid var(--border-color);
}
.book__img{
   width: 100%;
   max-width: 200px;
   height: 200px;
   border-radius: .75rem;
   object-fit: cover;
   object-position: center;
}
.books__title{
   font-size: var(--h3-font-size);
}
.books__writer{
   color: rgba(0, 0, 0, .8);
   font-size: var(--normal-font-size);
}
.book__section-img{
   margin-top: 2.5rem;
   margin-bottom: 0.5rem;
}

/* Swiper Class*/
.books__slides{
   position: relative;
}
.books__slides .swiper-wrapper{
   margin-bottom: 2rem;
}
.books__slides .swiper-pagination{
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);
}
.books__slides .swiper-pagination-bullet{
   width: 8px;
   height: 8px;
   background-color: var(--green-color-2);
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.books__slides .swiper-pagination-bullet-active{
   background-color: var(--green-color-3);
}
.books__img-banner{
   position: absolute;
   bottom: -2.75rem;
   left: -1.85rem;
   width: 100px;
   transform: rotate(25deg);
}
/* ===== end books ===== */

/* ===== VISION BOARD ===== */
.vision{
   position: relative;
}
.vision.section__top-space{
   margin-top: 1.75rem;
}
.vision__title{
   position: relative;
   font-size: 4rem;
   -webkit-text-stroke: 2px var(--green-color-4);
   color: transparent;
   margin-bottom: 1.5rem;
   width: max-content;
}
.vision__title::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: .75rem;
   width: 100%;
   height: 10px;
   background-color: var(--green-color-2);
   opacity: .5;
   z-index: -1;
}
.vasion__img-banner{
   position: absolute;
   bottom: -2.5rem;
   right: -1.5rem;
   width: 85px;
   transform: rotate(25deg);
}
/* ===== end vision board ===== */

/* ===== BLOG ===== */
.blog__title-section{
   display: block;
   margin-bottom: 0.75rem;
}
.blog__container{
   background-color: #FFF;
   color: #141414;
   padding: 0.25rem;
   border-radius: .75rem;
}
.blog__img{
   border-radius: .5rem;
}
.blog__content{
   border: 1px solid var(--border-color);
   border-radius: .5rem;
   padding: 0.5rem .5rem .75rem;
}
.blog__subtitle{
   display: block;
   font-size: var(--small-font-size);
   color: rgba(0, 0, 0, .9);
   margin: .5rem 0 .25rem;
}
.blog__title{
   font-size: var(--h3-font-size);
   font-weight: 700;
   margin-bottom: 1.5rem;
}
.blog__button{
   display: block;
   color: var(--green-color-3);
   text-decoration: underline;
}

/* Swiper Class*/
.blog__container{
   margin-left: initial;
   margin-right: initial; 
}
.blog__container .swiper-button-prev::after,
.blog__container .swiper-button-next::after{
   content: '';
}
.blog__container .swiper-button-next,
.blog__container .swiper-button-prev{
   width: initial;
   height: initial;
   background-color: #FFF;
   box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
   padding: 0.25rem;
   font-size: 1.5rem;
   color: #000;
   border-radius: 50%;
}
/* ===== end blog ===== */

/* ===== FOOTER ===== */
.footer{
   margin-top: 6rem;
   margin-bottom: 3.5rem;
}
.footer span{
   display: block;
   font-size: var(--normal-font-size);
   text-align: center;
}
/* ===== end footer ===== */

/* ===== SCROLL UP ===== */
.scrollup{
   position: fixed;
   background-color: var(--green-color-3);
   right: 1rem;
   bottom: -30%;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   padding: .5rem;
   z-index: 10;
}
.scrollup__icon{
   font-size: 1rem;
   color: #FFF;
}

/* Show Scroll Up*/
.show-scroll{
   bottom: 3rem;
}
/* ===== end scroll up ===== */

/* ===== BREAKPOINTS ===== */
/* For small devices */
@media screen and (max-width: 320px){
   /* ===== REUSABLE CSS CLASSES ===== */
   .container{
      margin-left: 1rem;
      margin-right: 1rem;
   }
   /* ===== end reusable css classes ===== */
}

@media screen and (min-width: 400px){
   /* ===== PLAYLIST ===== */
   .playlist__music{
      max-width: 360px;
   }
   /* ===== end playlist ===== */
}

@media screen and (min-width: 567px){
   /* ===== HEADER ===== */
   .header__section-banner{
      height: 180px;
   }
   .header__content{
      margin-top: -3rem;
   }
   .profile__img{
      width: 100px;
      height: 100px;
   }
   /* ===== end header ===== */

   /* ===== BIO ===== */
   .bio__img-banner{
      bottom: -2.5rem;
   }
   /* ===== end bio ===== */

   /* ===== BIO + GALLERY ===== */
   .bio__img-banner,
   .vasion__img-banner{
      width: 100px;
   }
   /* ===== end bio + gallery ===== */

   /* ===== CONTENT LINKS ===== */
   .content__img-banner{
      width: 95px;
      bottom: -3rem;
      left: -2rem;
   }
   /* ===== end content links ===== */

   /* ===== GALLERY ====== */
   .gallery__img-banner{
      width: 85.5px;
   }
   /* ====== end gallery ====== */

   /* ===== PLAYLIST ===== */
   .playlist__img-banner{
      width: 95px;
      bottom: -2.25rem;
   }
   /* ===== end playlist ===== */

   /* ===== MOVIES ===== */
   .movies__img-banner{
      width: 95px;
      bottom: -2.75rem;
      right: -1.75rem;
   }
   /* ===== end movies ===== */

   /* ===== BOOKS ===== */
   .books__img-banner{
      width: 120px;
      bottom: -3.5rem;
      left: -2.15rem;
   }
   /* ===== end books ===== */

   /* ===== VISION BOARD ===== */
   .vision__img-banner{
      width: 110px;
      right: -2.75rem;
      bottom: -3.5rem;  
   }
   /* ===== end vision board ===== */
}

@media screen and (min-width: 768px){
   /* ===== REUSABLE CSS CLASSES ===== */
   .section__line-bottom{
      padding-bottom: 3.75rem;
   }
   .section__top-space{
      margin-top: 3.75rem;
   }
   /* ===== end reusable css classes ===== */

   /* ===== HEADER ===== */
   .header__section-banner{
      height: 200px;
   }
   .header__content{
      margin-top: -4rem;
   }
   .profile__img{
      width: 120px;
      height: 120px;
   }
   .change-theme{
      padding: .75rem;
   }
   /* ===== end header ===== */

   /* ===== BIO ===== */
   .bio.section__line-bottom{
      padding-bottom: 3rem;
   }
   .bio__subtitle span{
      font-size: 1.1rem;
   }
   /* ===== end bio ==== */

   /* ===== CONTENT LINKS ===== */
   .content__container{
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      align-items: center;
   }
   .content__border{
      margin-left: initial;
      margin-right: initial;
   }
   .content__profile{
      max-width: 300px;
      height: 275px;
      margin-left: 1.5rem;
   }
   .content__square{
      width: 50px;
      height: 50px;
   }
   .content__hobbies{
      text-align: initial;
   }
   .social__media{
      justify-content: initial;
   }
   /* ===== end content links ===== */

   /* ===== PLAYLIST ===== */
   .playlist__container{
      grid-template-columns: 55% 45%;
      grid-column-gap: 2rem;
   }
   .playlist__music{
      width: calc(100% - 2rem);
   }
   /* ===== end playlist ===== */

   /* ===== MOVIES ===== */
   .movies__container{
      display: flex;
   }
   .movies__container .movie__content:first-child{
      width: calc(50% - 2rem);
      margin-right: 2rem;
   }
   .movie__slides{
      width: 50%;
   }
   /* ===== end movies ===== */

   /* ===== BOOKS ===== */
   .books__container{
      display: flex;
   }
   .books__slides{
      width: 50%;
   }
   .books__container .books__content:nth-child(2){
      width: calc(50% - 2rem);
      margin-left: 2rem;
      margin-top: -2.25rem;
   }
   /* ===== end books ===== */

   /* ===== VISION BOARD ===== */
   .vision__title{
      font-size: 5rem;
   }
   /* ===== end vision board ===== */
}

/* For large devices */
@media screen and (min-width: 992px){
   /* ===== REUSABLE CSS CLASSES ===== */
   .container{
      margin-left: auto;
      margin-right: auto;
   }
   /* ===== end reusable css classes ===== */

   /* ===== HEADER ===== */
   .header__section-banner{
      height: 250px;
   }
   /* ===== end header ===== */

   /* ===== CONTENT LINKS ===== */
   .content__container{
      grid-template-columns: 45% 55%;
   }
   /* ===== end content links =====*/

   /* ===== PLAYLIST ===== */
   .playlist__container{
      grid-template-columns: 60% 40%;
   }
   /* ===== end playlist ===== */
}

@media screen and (min-width: 1048px){
   /* ===== GALLERY ===== */
   .gallery__container{
      padding: 3.25rem 0.5rem 0.5rem;
   }

   /* Swiper JS */
   .gallery .swiper-button-prev,
   .gallery .swiper-button-next{
      margin-top: -6.5rem;
   }
   /* ===== end gallery ===== */
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px){
   /* ===== BASE ===== */
   body{
      zoom: 1.5;
   }
   /* ===== end base ===== */
}

@media screen and (min-width: 3848px){
   /* ===== BASE ===== */
   body{
      zoom: 3;
   }
   /* ===== end base ===== */
}